<h2>About</h2>

<p>This app was developed by:</p>
<ul style="display: block;">
<li>Laura Lin</li>
<li>Corey Smoot</li>
<li>Sean Michaelis</li>
<li>Liam Beckman</li>
</ul>
<p>for Emily Stockenbojer during the CS361 Software Engineering course in the Fall of 2018.<p>

<p>The source code is available <a href="https://github.com/cs361-group24">here</a>.</p>
<p>Pull requests, forks, and contributions are welcome!</p>
