<div class="container">
    <div class="fixed materials" id="home" onclick="location.href='/materials-search'">
        <h1 class="home-page"><a href="/materials-search" class="materials">materials</a></h1>
        <div class="materials-border"></div>
        <p style="text-align: center; padding-bottom: 10px;">Search all hazardous materials</p>
    </div>

    <div class="fixed centers" id="home" onclick="location.href='/centers-search'">
        <h1 class="home-page"><a href="/centers-search" class="centers">centers</a></h1>
        <div class="centers-border"></div>
        <p style="text-align: center; padding-bottom: 10px;">Search all disposal centers</p>
    </div>

    <div class="fixed about" id="home" onclick="location.href='/about'">
        <h1 class="home-page"><a href="/about" class="about">about</a></h1>
        <div class="about-border"></div>
        <p style="text-align: center; padding-bottom: 10px;">App information and source code</p>
    </div>
</div>



<style>
.container {
    display: flex;
    flex-wrap: wrap;
}

#home {
    width: 75%;
    cursor: pointer;
}

#home div {
    width: 90%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

p {
    font-size: 1.2em;
    line-height: 1.7;
}

a.materials {
    color: #DB37C4;
    transition: 800ms;
}

div.materials {
    border: solid 1px #DB37C4;
    transition: 800ms;
}

div.materials:hover {
    background-color: #DB37C4;
    transition: 800ms;
}

div.materials-border {
    border-bottom: 1px solid #DB37C4;
    transition: 800ms;
}

a.centers {
    color: #49ccd4;
    transition: 800ms;
}

div.centers {
    border: solid 1px #49ccd4;
    transition: 800ms;
}

div.centers:hover {
    background-color: #49ccd4;
    transition: 800ms;
}

div.centers-border {
    border-bottom: 1px solid #49ccd4;
    transition: 800ms;
}

a.about {
    color: #678cfa;
    transition: 800ms;
}

div.about {
    border: solid 1px #678cfa;
    transition: 800ms;
}

div.about:hover {
    background-color: #678cfa;
    transition: 800ms;
}

div.about-border {
    border-bottom: 1px solid #678cfa;
    transition: 800ms;
}



#home:hover a {
    color: snow;
    transition: 800ms;
}

#home:hover div {
    border-bottom: 1px solid snow;
    transition: 800ms;
}

.fixed {
    width: 30%;
    word-wrap: break-word;
    margin: 1.5em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    border: solid 1px #aaa;
    margin-left: auto;
    margin-right: auto;
}

h1.home-page {
    font-size: 3em;
    font-family: Helvetica, Ariral, Sans-Serif;
    text-align: center;
    color: #2a2730;
    text-decoration: none;
}
</style>
